* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
width: 71%;
max-width: 1140px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}
header {
    padding: 16px 
}
#hed .kopal{
    
    display: flex;
}
.kopal .nak {
    display:flex; 
    list-style: none;
    text-align: center;
    gap: 32px;
}
.btn a , .kela , .btn{ 
    background-color: #469165;
    padding: 12px 16px;
    gap: 10px;
    width: 144px;
    height: 44px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.bannu-cont {
    background-image: url(./assets/hero-bg.png); center/ cover/ no-repeat;
    color: #ffffff;
    text-align: center;
    padding: 70px 120px 134px;
}

.color-green {
    color: #469165;
    padding: 51px 295px 65px;
}
.ctn {
padding-bottom: 16px;
 
}


.overlay {
    position: absolute;
    inset: 0;
    background-color: #001931 80%
}
.badge {
    display: inline-block;
    background: #ffffff;
    color:#28a745;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}
.bannu p {
    font-size: 18px;
    color: #ffffff;
    line-height: 24px;
    margin-bottom: 30px;
}
.boro h1 {
    font-size: 5em
} 
.bannu-buttons  { 
    
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.problems-section{
    padding:80px 20px;
    background:#ffffff;
    text-align:center;
}

.container{
    max-width:1200px;
    margin:auto;
}

.problems-section h2{
    font-size:42px;
    font-weight:700;
    color:#1e293b;
    margin-bottom:10px;
}

.section-subtitle{
    color:#64748b;
    font-size:16px;
    margin-bottom:50px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.card{
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:10px;
    padding:30px 20px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}


.icon{
    width:60px;
    height:60px;
    margin:0 auto 20px;
    border-radius:50%;
    background:#f95555;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
}
.card h3{
    font-size:20px;
    margin-bottom:10px;
    color:#1e293b;
}

.card p{
    font-size:14px;
    line-height:1.6;
    color:#64748b;
}

.solution-section{
    padding:90px 20px;
    background:#ffffff;
}

.solution-wrapper{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:center;
}

.solution-image img{
    width:100%;
    max-width:500px;
    display:block;
    margin:auto;
}

.label{
    color: #469165;
    font-size:13px;
    font-weight:600;
    letter-spacing:2px;
}

.solution-content h2{
    font-size:46px;
    line-height:1.2;
    color:#0f172a;
    margin:15px 0 20px;
}

.solution-content p{
    color:#64748b;
    line-height:1.8;
    margin-bottom:25px;
}

.solution-content ul{
    list-style:none;
    padding:0;
}

.solution-content li{
    margin-bottom:15px;
    color:#334155;
    font-size:16px;
    display:flex;
    align-items:center;
}

.solution-content li::before{
    content:"✓";
    width:24px;
    height:24px;
    margin-right:12px;
    border-radius:50%;
    background:#22c55e;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:12px;
}
.cta-section{
    padding:80px 20px;
    background:#ffffff;
}

.cta-box{
    max-width:1100px;
    margin:auto;
    background:#f8fafc;
    border:1px solid #e5e7eb;
    border-radius:12px;
    padding:70px 30px;
    text-align:center;
}

.cta-box h2{
    font-size:42px;
    color:#0f172a;
    margin-bottom:15px;
    font-weight:700;
}

.cta-box p{
    max-width:600px;
    margin:0 auto 30px;
    color:#64748b;
    line-height:1.7;
}

.cta-btn{
    display:inline-block;
    background:#22c55e;
    color:#fff;
    text-decoration:none;
    padding:14px 32px;
    border-radius:8px;
    font-weight:600;
    transition:0.3s;
}

.cta-btn:hover{
    transform:translateY(-2px);
}

.cta-note{
    display:block;
    margin-top:15px;
    color:#94a3b8;
    font-size:14px;
}
.footer{
    background:#06213d;
    color:#fff;
    padding:60px 20px 25px;
}

.footer-container{
    max-width:1200px;
    margin:auto;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-wrap:wrap;
    gap:30px;
}

.footer-logo img{
    max-width:180px;
}

.footer-social h4{
    margin-bottom:15px;
    font-size:18px;
    font-weight:600;
}

.social-icons{
    display:flex;
    gap:12px;
}

.social-icons a{
    width:38px;
    height:38px;
    border:1px solid rgba(255,255,255,0.2);
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    text-decoration:none;
    transition:0.3s;
    ;
}

.social-icons a:hover{
    background:#22c55e;
    border-color:#22c55e;
}

.footer-bottom{
    border-top:1px solid rgba(255,255,255,0.12);
    margin-top:40px;
    padding-top:20px;
    text-align:center;
}
.social-icons-link {
    list-style: none;
    display: flex;
    gap: 16px;
}

.footer-bottom p{
    color:#cbd5e1;
    font-size:14px;
}